.button{
  color: #FFFFFF;
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
  background-color: #68B738;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
}

.button--gray{
  background-color: #F2F2F2;
  color: #444444;
}
