.button {
  color: $white;
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
  background-color: $basic-green;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }


  &--show-more {
    background-color: $basic-gray;
    color: $special-dark-gray;

    &:hover {
      background-color: $special-gray-2;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .button {
    &--form-submit{
      padding: 16px 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    margin: 0 3px 0 9px;

    &--extra-goods{
      margin: 0;
    }

    &--form-submit{
      padding: 13px 0;
      line-height: 26px;
      margin-right: 10px;
    }
  }
}
