.card-show-more{

}

.card-show-more__image{
  margin: 5px auto 0;
  display: block;
  text-align: center;
}

.card-show-more__title{
  margin: 0;
  padding: 23px 0 8px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $another-black;
}

.card-show-more__description{
  margin: 0;
  padding-bottom: 21px;
  text-align: center;
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .card-show-more{
    background-color: $white;
    outline: 2px solid $basic-gray;
    padding-top: 52px;
  }

  .card-show-more__image{
    margin: 0 auto 49px;

  }

  .card-show-more__title{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
    padding: 0;
  }

  .card-show-more__description{
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 87px;
    padding-bottom: 0;


  }
}
