.catalog{

  &__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
  }

  &__title{
      padding-bottom: 40px;
  }

  &__item{
    padding: 20px 0 25px;
}
}


.card {

  display: flex;
  flex-direction: column;

    &__content-wrapper{
      display: grid;
      grid-template-columns: 50% 50%;
      padding-bottom: 22px;
    }

    &__image-wrapper{
      margin: 0 auto;
      padding-top: 14px;
    }

    &__info-wrapper{
      display: flex;
      flex-direction: column;
    }

    &__title{
      margin: 0;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      text-transform: uppercase;
      color: #222222;
      padding-bottom: 18px;
      width: 76px;
    }

    &__description{
      margin: 0;
      display: flex;
      justify-content: space-between;
      font-family: Arial;
      font-size: 12px;
      line-height: 16px;
      color: #444444;
    }
}

.card-show-more{
    &__image{
      margin: 5px auto 0;
    }

    &__title{
      margin: 0;
      padding: 23px 0 8px;
      text-align: center;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      text-transform: uppercase;
      color: #111111;
    }

    &__description{
      margin: 0;
      padding-bottom: 21px;
      text-align: center;
      font-family: Arial;
      font-size: 12px;
      line-height: 16px;
    }
}
