.cooperation {
  &--gray {
    background-color: $basic-gray;
  }
}

.cooperation__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  padding: 26px 0;
}

.cooperation__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: min-content;
}

.cooperation__address {
  margin: 0;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  width: 139px;
}

.cooperation__map-wrapper {
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 362px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}

iframe {
  display: block;
  border: none;
  width: auto;
}

@media (min-width: $tablet-width) {
  .cooperation__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 56px 40px 61px;
  }

  .cooperation__title {
    margin-top: 4px;
    font-size: 20px;
    line-height: 26px;
  }

  .cooperation__address {
    text-align: right;
    font-size: 16px;
    width: 160px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cooperation__map-wrapper {
    background-image: url("../img/map-tablet.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }

  iframe {
    min-height: 400px;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .cooperation {
    position: relative;
  }

  .cooperation__wrapper {
    position: absolute;
    width: min-content;
    background-color: $white;
    gap: 96px;
    top: 95px;
    padding: 55px 75px 58px 80px;
  }

  .cooperation__address {
    text-align: left;
  }

  .cooperation__map-wrapper {
    background-image: url("../img/map-desktop.jpg");
    background-repeat: no-repeat;
    width: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }
}
