.details{
  border: none;
  margin: 0;
  padding: 0 0 11px;
  display: block;
}

.details__item{
  display: flex;
  gap: 12px;
  margin-bottom: 14px;
}

.details__item-name{
  font-size: 16px;
  color: $special-dark-gray;
  text-transform: uppercase;
  align-self: center;
}

.details__item-text{
  flex-grow: 1;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-gray;
  text-transform: uppercase;
  border: none;
  outline: 1px solid $basic-gray-4;
  padding: 12px 0 13px 15px;
}

.details__required-fields-text{
  text-align: center;
  margin: 0;
  padding: 21px 0 32px;
}

@media (min-width: $tablet-width) {

}
