.details{

}

.details__item{
  display: flex;
  gap: 12px;
  margin-bottom: 14px;
}

.details__item-name{

  color: $special-dark-gray;
  text-transform: uppercase;
  align-self: center;
}

.details__item-text{
  flex-grow: 1;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: $special-dark-gray;
  text-transform: uppercase;
  border: none;
  outline: 1px solid $basic-gray-4;
  padding: 12px 0 13px 15px;
}

.details__required-fields-text{
  text-align: center;
  margin: 0;
  padding: 21px 0 32px;
}

@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {
  .details{
    display: grid;
    gap: 20px;
  }

  .details__item{
    display: flex;
    gap: 12px;
    margin-bottom: 0;
  }

  .details__item-text{
    padding: 11px 0 11px 19px;
  }
}
