.details__item {
  display: flex;
  gap: 14px;
  margin-bottom: 14px;
}

.details__item-name {
  color: $special-dark-gray;
  text-transform: uppercase;
  align-self: center;

  &--weight,
  &--age{
    margin-right: 3px;
  }
}

.details__item-text::-webkit-outer-spin-button,
.details__item-text::-webkit-inner-spin-button  {
  appearance: none;
}

.details__item-text {
  flex-grow: 1;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: $special-dark-gray;
  text-transform: uppercase;
  border: none;
  outline: 1px solid $basic-gray-4;
  padding: 13px 0 14px 15px;


  &:hover {
    outline: 1px solid $special-gray;
  }

  &:focus {
    outline: 2px solid $special-dark-gray;
  }

  &--error{
    outline: 2px solid $status-error;
  }
}

.details__required-fields-text {
  text-align: center;
  margin: 0;
  padding: 21px 0 32px;
}

@media (min-width: $tablet-width) {
  .details__item {
    margin: 0 -2px 21px 0;
    gap: 18px;
  }

  .details__item-text {
    padding: 10px 10px 11px 18px;

    &--age{
      margin-left: -2px;
      padding-left: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .details {
    display: grid;
    gap: 21px;
    margin: 0 4px 0 1px;
  }

  .details__item {
    display: flex;
    gap: 18px;
    margin-bottom: 0;
  }

  .details__item-name {
    margin-top: -1px;
  }

  .details__item-text {

    &--age{
      padding-left: 16px;
    }
  }
}
