.example {
  background-color: $basic-gray-3;
}

.example__wrapper {
  padding-bottom: 40px;
}

.example__title {
  padding-top: 27px;
  margin-bottom: 40px;
}

.example__description {
  font-family: "Arial";
  color: $special-dark-gray;
  margin: 0 0 20px;
  padding-top: 2px;
}

.example__stats {
  margin: 0;
}

.example__costs {
  margin: 0 0 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__range-slider-wrapper {
  display: flex;
  justify-content: center;
  background-color: $basic-gray-3;
}

.example__range-slider {
  display: flex;
  position: relative;
  width: 280px;
  height: 256px;
}

.example__image {
  height: 100%;
  object-fit: cover;

  &--before {
    object-position: left;
  }

  &--after {
    object-position: right;
  }
}

.example__range-scale-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  border: 2px solid $special-gray-4;
  border-radius: 2px;
  background-color: $special-gray-4;
  left: calc(50% - 2px);
  cursor: pointer;

  &:hover {
    border-color: $basic-green;
    background-color: $white;
  }

  &:hover>.example__range-scale-circle {
    border-color: $basic-green;
  }

  &:hover>.example__range-scale-circle>.example__range-scale-button {
    color: $basic-green;
  }

  &:active {
    border-color: rgba(94, 170, 47, 0.6);
    background-color: $white;
  }

  &:active>.example__range-scale-circle {
    border-color: rgba(94, 170, 47, 0.6);
  }

  &:active>.example__range-scale-circle>.example__range-scale-button {
    color: rgba(94, 170, 47, 0.6);
  }
}

.example__range-scale-circle {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid $special-gray-4;
  border-radius: 50%;
  z-index: 3;
  background-color: $white;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

.example__range-scale-button {
  position: absolute;
  background-color: transparent;
  border: none;
  top: calc(50% - 9px);
  left: calc(50% - 12px);
  padding: 0;
  cursor: pointer;
  color: $special-gray-4;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $white;
  }

  .example__wrapper {
    padding-bottom: 0;
  }

  .example__content-wrapper {
    margin-bottom: 151px;
  }

  .example__title {
    padding-top: 43px;
    margin-bottom: 63px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 55px;
    padding: 0 10px 0 0;
  }

  .example__stats-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 106px;
  }

  .example__costs {
    margin: 0;
    padding-right: 3px;
    text-align: right;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .example__range-slider-wrapper {
    height: 462px;

    &::after {
      content: "";
      position: absolute;
      height: 462px;
      width: 100%;
      background-color: $basic-gray-3;
    }
  }

  .example__range-slider {
    width: 560px;
    height: 512px;
    transform: translateY(-151px);
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .example {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 462px;
      width: 100%;
      background-color: $basic-gray-3;
      bottom: 0;
    }
  }

  .example__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .example__content-wrapper {
    margin-bottom: 0;
    padding-right: 0;
    z-index: 1;
    width: 436px;
  }

  .example__title {
    padding-top: 0;
    margin-bottom: 76px;
  }

  .example__description {
    margin: 0 0 69px;
    padding: 70px 0 0;
  }

  .example__stats-wrapper {
    display: grid;
    grid-template-columns: unset;
    padding-bottom: 75px;
  }

  .example__stats {
    margin: 0 70px 64px 0;
  }

  .example__costs {
    text-align: left;
    flex-direction: row;
    justify-content: start;
    gap: 66px;
  }

  .example__range-slider-wrapper {
    height: 512px;
    justify-content: end;
    padding-right: 0;
    background-color: $white;

    &::after {
      display: none;
    }
  }

  .example__range-slider {
    transform: unset;
    z-index: 2;
  }
}
