.extra-goods{

}

.extra-goods__title{
  margin: 0;
  padding-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.extra-goods__list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
