.extra-goods-item{
  display: flex;
  flex-direction: column;
  margin: 0;
}

.extra-goods-item__title{
  margin: 0;
  padding: 13px 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $special-dark-gray-2;
}

.extra-goods-item__description{
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  font-family: Arial;
  line-height: 14px;
}

.extra-goods-item__value{
  margin-left: auto;
}

.extra-goods-item__button{
  margin-bottom: 19px;
}
