.extra-goods__title {
  position: relative;
  padding: 25px 0 34px;

  &::after {
    position: absolute;
    content: "";
    background-color: #68b738;
    width: 53px;
    height: 2px;
    right: -20px;
    top: 41px;
  }
}

.extra-goods__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {

  .extra-goods__list {
    outline: 1px solid $special-gray;
  }

  .extra-goods__title {
    padding: 8px 37px 80px;

    &::before {
      position: absolute;
      content: "";
      display: block;
      background-color: #68b738;
      width: 30px;
      height: 2px;
      left: -30px;
      top: 30px;
    }

    &::after {
      width: 328px;
      right: -30px;
      top: 30px;
    }
  }

  .extra-goods__list {
    display: grid;
  }
}

@media (min-width: $desktop-width) {
  .extra-goods__list {
    outline: none;
  }

  .extra-goods__wrapper {
    padding-bottom: 86px;
  }

  .extra-goods__title {
    padding: 15px 0;
    margin-bottom: 65px;

    &::before {
      width: 70px;
      left: -110px;
      top: 37px;
    }

    &::after {
      width: 957px;
      right: -110px;
      top: 37px;
    }
  }

  .extra-goods__content-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 80px;
  }
}
