.form{
  display: grid;
  font-size: 16px;
}

.form__title{
  font-weight: 400;
  margin: 0;
  padding: 27px 0 37px;
}

.form__descripton{
  text-transform: uppercase;
  padding-right: 54px;
  margin: 0;
  padding-bottom: 39px;
}

.form__program-selection{
  display: grid;
}

.form__group{
  border: none;
  margin: 0;
  padding: 0 0 11px;
  display: block;
}

@media (min-width: $tablet-width) {
  .form{
    font-size: 20px;
    line-height: 30px;
  }

  .form__title{
    padding: 39px 0 54px 40px;
  }

  .form__descripton{
    padding: 0 0 0 40px;
    width: 370px;
  }

  .form__program-selection{
    padding: 66px 40px 72px;
  }
}

@media (min-width: $desktop-width){
  .form__details-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .form__group{
    padding: 0;
    display: block;
  }
}

