.form-comment {}

.form-comment__title {
  padding: 0 0 38px;
  width: 100%;
  margin-top: -1px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    display: block;
    background-color: $basic-green;
    width: 158px;
    height: 2px;
    right: -20px;
    top: 14px;
  }
}

.form-comment__message {
  font: inherit;
  text-transform: uppercase;
  color: $special-dark-gray;
  padding: 9px 12px 0 15px;
  border: none;
  outline: 1px solid $basic-gray-4;
  width: 100%;
  min-height: 150px;
  margin-bottom: 9px;
  resize: none;
}

@media (min-width: $tablet-width) {
  .form-comment__title {

    &::before {
      position: absolute;
      content: "";
      display: block;
      background-color: #68b738;
      width: 30px;
      height: 2px;
      left: -70px;
      top: 20px;
    }

    &::after {
      position: absolute;
      content: "";
      display: block;
      background-color: #68b738;
      width: 478px;
      height: 2px;
      right: -70px;
      top: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-comment__title {

    &::before {
      position: absolute;
      content: "";
      display: block;
      background-color: #68b738;
      width: 70px;
      height: 2px;
      left: -110px;
      top: 20px;
    }

    &::after {
      position: absolute;
      content: "";
      display: block;
      background-color: #68b738;
      width: 1108px;
      height: 2px;
      right: -110px;
      top: 20px;
    }
  }
}
