.form-contact {
  display: grid;
  margin-top: 25px;
}

.form-contact__title {
  position: relative;
  width: 100%;
  padding: 0 0 35px;

  &::after {
    position: absolute;
    content: "";
    background-color: $basic-green;
    width: 99px;
    height: 2px;
    right: -20px;
    top: 16px;
  }
}

.form-contact__item {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-bottom: 14px;
}

.form-contact__item-name {
  text-transform: uppercase;
  color: $special-dark-gray;
}

.form-contact__item-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.form-contact__input-detail {
  flex-grow: 1;
  padding: 13px 40px 14px 15px;
  font: inherit;
  text-transform: uppercase;
  color: $special-dark-gray;
  border: none;
  outline: 1px solid $basic-gray-4;

  &:hover {
    outline: 1px solid $special-gray;
  }

  &:focus {
    outline: 2px solid $special-dark-gray;

    & + .form-contact__phone-logo {
      fill: $basic-green;
    }

    & + .form-contact__email-logo {
      stroke: $basic-green;
    }
  }

  &--error {
    outline: 2px solid $status-error;

    & + .form-contact__phone-logo {
      fill: $status-error;
    }

    & + .form-contact__email-logo {
      stroke: $status-error;
    }
  }

  &--disabled {
    opacity: 0.3;
  }
}

.form-contact__email-logo {
  position: absolute;
  right: 15px;
  top: calc(50% - 7px);
  stroke: $black;
}

.form-contact__phone-logo {
  position: absolute;
  right: 13px;
  top: calc(50% - 10px);
  fill: $black;
}

@media (min-width: $tablet-width) {
  .form-contact__title {
    padding: 0;
    margin: 0 0 77px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      background-color: $basic-green;
      height: 2px;
      top: 22px;
    }

    &::before {
      width: 30px;
      left: -70px;
    }

    &::after {
      width: 145px;
      right: -70px;
    }
  }

  .form-contact__item {
    gap: 14px;
    padding-bottom: 0;
    margin-bottom: 21px;
  }

  .form-contact__item-name {
    &--phone {
      margin-left: -3px;
    }
  }

  .form-contact__input-detail {
    padding: 10px 40px 11px 20px;
    margin: 0 -3px 0 0;

    &--email {
      margin-left: 6px;
    }

    &--phone {
      margin-left: 3px;
    }
  }

  .form-contact__email-logo {
    right: 14px;
  }

  .form-contact__phone-logo {
    right: 14px;
  }
}

@media (min-width: $desktop-width) {
  .form-contact {
    grid-template-columns: 1fr 1fr;
    gap: 78px;
    margin-top: 0;
  }

  .form-contact__title {
    margin: 0 0 76px;

    &::before {
      width: 70px;
      left: -110px;
      top: 20px;
    }

    &::after {
      width: 778px;
      right: -110px;
      top: 20px;
    }
  }

  .form-contact__item {
    gap: 20px;
    margin: 0 0 36px 1px;
  }

  .form-contact__input-detail {
    margin: 0 2px 0 0;

    &--phone {
      padding-left: 16px;
    }
  }

  .form-contact__email-logo {
    right: 19px;
    top: calc(50% - 8px);
  }

  .form-contact__phone-logo {
    right: 17px;
    top: calc(50% - 12px);
  }
}
