.form {
  display: grid;
  font-size: 16px;
}

.form__title {
  font-weight: 400;
  margin: 0;
  padding: 27px 0 37px;
}

.form__descripton {
  text-transform: uppercase;
  padding-right: 54px;
  margin: 0;
  padding-bottom: 39px;
  font-size: 14px;
}

.form__program-selection {
  display: grid;
}

.form__group {
  border: none;
  margin: 0;
  padding: 0 0 11px;
  display: block;
}

.form__required-fields-text {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: 20px 0 21px;
}

@media (min-width: $tablet-width) {
  .form {
    font-size: 20px;
    line-height: 30px;
  }

  .form__title {
    padding: 41px 0 54px 39px;
  }

  .form__descripton {
    padding: 0 0 0 40px;
    width: 370px;
    font-size: 20px;
  }

  .form__program-selection {
    margin: 66px 40px 62px;
  }

  .form__required-fields-text {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    margin: 0;
    align-self: center;
    padding-bottom: 4px;
  }
}

@media (min-width: $desktop-width) {
  .form__title {
    padding: 49px 0 54px;
  }

  .form__descripton {
    padding: 0;
    width: 370px;
  }

  .form__program-selection {
    margin: 66px 0 83px;
  }

  .form__details-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 69px;
  }

  .form__group {
    padding: 0;
    display: block;
  }

  .form__required-fields-text {
    margin: 0 0 0 10px;
    padding-bottom: 0;
  }
}
