.form-additionally {
  display: grid;
}

.form-additionally__title {
  padding: 0 0 34px;
  width: 100%;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    display: block;
    background-color: $basic-green;
    width: 136px;
    height: 2px;
    right: -20px;
    top: 15px;
  }
}

.form-additionally__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-bottom: 34px;
  display: grid;
  gap: 13px;
}

.form-additionally__item {
  font: inherit;
  text-transform: uppercase;

  &:last-child{
    margin-top: -1px;
  }
}

.form-additionally__control {
  position: relative;
  display: block;
  padding: 5px 0 7px 46px;

  &:hover>.form-additionally__control-mark-checkbox {
    border: 1px solid $border-gray-3;
  }

  &--disabled{
    opacity: 0.3;
  }
}

.form-additionally__control-input:checked~.form-additionally__control-mark-checkbox::before {
  position: absolute;
  content: url(../img/checkbox-checked.svg);
  left: calc(50% - 9px);
  top: calc(50% - 7px);
}

.form-additionally__control-mark-checkbox {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $special-gray;
}

.form__item-wrapper {
  display: grid;
}

@media (min-width: $tablet-width) {
  .form-additionally__title {
    padding: 0 0 57px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      display: block;
      background-color: #68b738;
      height: 2px;
      top: 22px;
    }

    &::before{
      width: 30px;
      left: -70px;
    }

    &::after {
      min-width: 446px;
      right: -70px;
    }
  }

  .form-additionally__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 61px;
    padding-bottom: 54px;
  }

  .form-additionally__control {
    position: relative;
    padding: 5px 0 5px 59px
  }

  .form-additionally__control-input:checked+.form-additionally__control-mark-checkbox::before {
    position: absolute;
    content: url(../img/checkbox-checked-tablet.svg);
    left: calc(50% - 12px);
    top: calc(50% - 13px);
  }

  .form-additionally__control-mark-checkbox {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
  }

  .form__item-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 61px;
  }

  .form__button {
    font-size: inherit;
    margin-left: 1px;
  }
}

@media (min-width: $desktop-width) {
  .form-additionally__title {

    &::before {
      width: 70px;
      left: -110px;
      top: 23px;
    }

    &::after {
      width: 1078px;
      right: -110px;
      top: 23px;
    }
  }

  .form-additionally__control {
    padding: 7px 0 5px 59px
  }

  .form-additionally__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 79px;
    padding-bottom: 60px;
  }
}
