.program-type {
  position: relative;
  padding: 22px 0 19px;

  &::before{
    position: absolute;
    content: "";
    height: 1px;
    background-color: #D9D9D9;
    top: -2px;
    left: -30px;
    right: -30px;
  }

  &::after{
    position: absolute;
    content: "";
    height: 1px;
    background-color: #D9D9D9;
    bottom: 1px;
    left: -30px;
    right: -30px;
  }
}

.program-type__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  gap: 13px;
}


.program-type__control {
  position: relative;
  display: block;
  padding: 6px 0 6px 46px;

  &--weight-loss{
    padding-left: 45px;
  }

  &:hover>.program-type__control-mark-radio {
    border: 1px solid $border-gray-3;
  }
}

.program-type__control-input:checked+.program-type__control-mark-radio::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $basic-green;
  left: calc(50% - 7px);
  top: calc(50% - 7px);
}

.program-type__control-mark-radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $special-gray;
  border-radius: 50%;
}

.program-type__control-label {
  text-transform: uppercase;
  color: $special-dark-gray-2;
}

@media (min-width: $tablet-width) {
  .program-type {
    padding: 42px 0 0;
    margin: 0 -2px 51px 1px;

    &::before{
      display: none;
    }

    &::after{
      display: none;
    }
  }

  .program-type__list {
    padding: 25px 28px 23px;
    outline: 1px solid $basic-gray-4;
  }

  .program-type__control {
    position: relative;
    display: block;
    padding: 5px 0 5px 60px;
  }

  .program-type__control-input:checked+.program-type__control-mark-radio::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    left: calc(50% - 9px);
    top: calc(50% - 9px);
  }

  .program-type__control-mark-radio {
    position: absolute;
    width: 40px;
    height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .program-type {
    padding: 0;
    margin: 0;
  }

  .program-type__list {
    padding: 25px 30px 25px 28px;
  }
}
