.programs {}

.programs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
}

.programs__item {
  background-color: $basic-gray;
  padding: 20px;
  position: relative;

  &--weight-loss {
    &::before {
      content: url(../img/cat-slim.svg);
      position: absolute;
    }
  }

  &--weight-gain {
    &::before {
      content: url(../img/cat-pro.svg);
      position: absolute;
      left: 13px;
    }
  }
}

.programs__title {
  margin: 0;
  padding: 10px 0 0 71px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
}

.programs__description {
  margin: 0;
  padding: 22px 0;
  color: $special-dark-gray;
  font-family: "Arial";
  border-bottom: 1px solid $border-gray;
}

.programs__link {
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  padding-top: 19px;
  display: block;
  font-size: 16px;
  line-height: 16px;
  position: relative;


  &::after {
    position: absolute;
    content: url(../img/icon-arrow.svg);
    left: 100px;
    top: 19px;
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .programs__item {
    padding: 77px 62px 57px 52px;

    &--weight-loss {
      &::before {
        content: url(../img/cat-slim-tablet.svg);
        right: 62px;
      }
    }

    &--weight-gain {
      &::before {
        content: url(../img/cat-pro-tablet.svg);
        right: 28px;
        left: unset;
      }
    }
  }

  .programs__title {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }

  .programs__description {
    padding: 22px 0 52px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    width: 340px;
  }

  .programs__link {
    padding: 0;
    font-size: 20px;
    line-height: 30px;

    &::after {
      position: absolute;
      content: url(../img/icon-arrow.svg);
      left: 133px;
      top: -1px;
    }

    &:hover{

    }

    &:active{
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs {
    padding-top: 82px;
  }

  .programs__list {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .programs__item {
    padding: 41px 51px 59px;

    &--weight-loss {
      &::before {
        content: url(../img/cat-slim-desktop.svg);
        right: unset;
        left: 52px;
        top: 41px;
      }
    }

    &--weight-gain {
      &::before {
        content: url(../img/cat-pro-desktop.svg);
        right: unset;
        left: 33px;
        top: 47px;
      }
    }
  }

  .programs__title {
    padding: 36px 0 73px 163px;
  }

  .programs__description {
    padding: 0 0 27px;
    margin: 0;
    width: auto;
  }

  .programs__link {

    &::after {
      position: absolute;
      content: url(../img/icon-arrow.svg);
      left: 136px;
      top: -3px;
    }
  }
}
