.search-form {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)),
    url(../img/index-background-mobile.png);
  background-size: auto 302px;
  background-repeat: no-repeat;
  background-position-x: center;

  @media (min-resolution: 2dppx){
    background-image: linear-gradient(rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)),
    url(../img/index-background-mobile@2x.png);
  }
}

.search-form__title {
  text-align: center;
  color: $white;
  padding-top: 27px;
}

.search-form__subtitle {
  text-align: center;
  color: $white;
  margin: 0 auto;
  padding: 25px 0 29px;
  text-transform: uppercase;
  line-height: 14px;
}

.search-form__image {
  display: block;
  margin: 0 auto;
}

.search-form__button {
  padding: 11px 44px;
  font-size: 14px;
  line-height: 18px;
  display: block;
  margin-top: 3px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .search-form {
    background-image: none;
    background-size: auto;
  }

  .search-form__container {
    position: relative;
  }

  .search-form__title {
    color: $black;
    padding: 40px 0 41px 86px;
    text-align: start;
  }

  .search-form__subtitle {
    color: $black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    padding: 0 0 20px 88px;
    text-align: start;
  }

  .search-form__button {
    position: absolute;
    top: 270px;
    left: 90px;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    padding: 14px 26px;
    min-width: 244px;
  }
}

@media (min-width: $desktop-width) {

  .search-form__container {
    min-height: 555px;
    padding: 85px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .search-form__title {
    padding: 0;
    margin-bottom: 40px;
  }

  .search-form__subtitle {
    margin: 0 0 50px 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .search-form__button {
    position: static;
  }

  .search-form__image {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    transform: translateX(-220px);
  }
}
