.search-form{
  background-image: linear-gradient(rgba(104, 183, 56, 0.85),
                                    rgba(104, 183, 56, 0.85)),
                    url(../img/index-background-mobile.png);
  background-size: auto 302px;
  background-repeat: no-repeat;
  background-position-x: center;
}

.search-form__title{
  text-align: center;
  color: $white;
  padding-top: 27px;

}

.search-form__subtitle{
  text-align: center;
  color: $white;
  margin: 0 auto;
  padding: 25px 0 29px;
  text-transform: uppercase;
  line-height: 14px;
}

.search-form__image{
  display: block;
  margin: 0 auto;
  width: 100%;
}

.search-form__button {
  padding: 11px 44px;
  font-size: 14px;
  line-height: 18px;
  display: block;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width){
  .search-form{
    background-image: none;
    background-size: auto;
  }

  .search-form__container{
    position: relative;
  }

  .search-form__title{
    color: $black;
    padding: 0 0 41px 80px;
    text-align: start;
  }

  .search-form__subtitle{
    color: $black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    padding: 0 0 0 80px;
    text-align: start;
  }

  .search-form__image{
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .search-form__button{
    position: absolute;
    top: 220px;
    left: 80px;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    padding: 14px 26px;
    min-width: 244px;
  }
}

@media (min-width: $desktop-width) {

  .search-form__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title img"
                         "subtitle img"
                         "button img";
    padding-bottom: 48px;
  }

  .search-form__title{
    padding: 109px 0 41px 80px;
    grid-area: title;
  }

  .search-form__subtitle{
    margin: 0;
    grid-area: subtitle;
  }

  .search-form__button{
    top: 52px;
    grid-area: button;
  }

  .search-form__image{
    width: 552px;
    height: 499px;
    margin: 0;
    transform: translateX(-162px);
    grid-area: img;
    z-index: 1;
  }
}
