.search-form{

  background-image: url("img/index-background-desktop.png");

    &__title{
      text-align: center;
      color: #FFFFFF;
    }

    &__subtitle{
      text-align: center;
      color: #FFFFFF;
    }
}
