.stats-list{
  display: flex;

    &__item{
      margin: 0;
      width: 50%;
      text-align: center;
    }

    &__number{
      margin: 0;
      font-size: 24px;
      line-height: 24px;

    }

    &__description{
      font-family: Arial;
      font-size: 12px;
      line-height: 12px;
      margin: 0 0 20px 0;
    }
}
