.stats-list {
  display: flex;
  gap: 32px;
}

.stats-list__item {
  margin: 0 0 34px;
  width: 50%;
  text-align: center;
  outline: 1px solid $special-gray;
  border-radius: 3px;
  position: relative;
}

.stats-list__number {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  padding: 15px 0 17px;
  text-transform: uppercase;
}

.stats-list__description {
  font-family: "Arial";
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: -13px;
  color: $special-dark-gray;
  margin: 0 auto;
  padding: 0 14px;
  width: 87px;
  background-color: $basic-gray-3;
}

@media (min-width: $tablet-width) {
  .stats-list__item {
    margin: 0;
  }

  .stats-list__number {
    font-size: 30px;
    line-height: 37px;
  }

  .stats-list__description {
    padding: 7px;
    min-width: max-content;
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
  }
}

@media (min-width: $desktop-width) {
  .stats-list {
    gap: 42px;
  }

  .stats-list__description {
    background-color: $basic-gray-3;
  }
}
