.container-content{
  margin: 0 20px;
  min-width: 280px;
}

@media (min-width: $tablet-width) {
  .container-content {
    margin: 0 70px;
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .container-content {
    margin: 0 110px;
  }
}
