.main-header {
  position: relative;
}

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0 15px;
  align-items: center;
}

.main-header__logo {
  display: block;
}

@media (min-width: $tablet-width) {

  .main-header {
    position: static;
  }

  .main-header__wrapper{
    padding: 24px 0;
  }
}
