.page{
  height: 100%;

    &__body{
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      margin: 0 auto;
      min-height: 100%;
      color: #000000;
      background-color: #EBEBEB;
    }
}
