$white: #ffffff;
$basic-gray: #f2f2f2;
$basic-gray-2: #e5e5e5;
$basic-gray-3: #eaeaea;
$basic-gray-4: #e7e7e7;
$special-gray: #cdcdcd;
$special-gray-2: #ebebeb;
$special-gray-3: #c4c4c4;
$special-gray-4: #666666;
$border-gray: #d9d9d9;
$border-gray-2: #e6e6e6;
$border-gray-3: #bababa;
$special-dark-gray: #444444;
$special-dark-gray-2: #222222;
$another-black: #111111;
$black: #000000;
$status-error: #ff8282;
$basic-green: #68b738;
$basic-green-2: #5eaa2f;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
