
$white: #ffffff;
$basic-gray:  #F2F2F2;
$basic-gray-2: #E5E5E5;
$special-gray-2: #EBEBEB;
$special-gray: #CDCDCD;
$special-gray-3: #666666;
$special-dark-gray: #444444;
$specialDarkGray2: #222222;
$another-black: #111111;
$black: #000000;
$status-error: #FF8282;
$basic-green: #68B738;
$basic-green-2: #5EAA2F;
