.main-footer {
  padding: 39px 0 22px;
  background-color: $basic-gray;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.main-footer__link {
  text-align: center;
  padding-bottom: 29px;
  border-bottom: 1px solid $border-gray;

  &:hover{
    opacity: 0.8;
  }

  &:active {
    opacity: 0.68;
  }
}

.main-footer__copyright {
  padding-top: 21px;
  border-top: 1px solid $border-gray;
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding: 55px 0 59px;
    background-color: $basic-gray;
  }

  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .copyright__text {
    margin-right: 24px;
  }

  .main-footer__link {
    padding: 7px 0 0;
    border: none;
    margin-right: 25px;
  }

  .main-footer__copyright {
    padding: 0;
    border: none;
  }
}
