.main-footer {
  padding: 39px 0 22px;
  background-color: $basic-gray;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.main-footer__link {
  text-align: center;
  padding-bottom: 31px;
  border-bottom: 1px solid $border-gray;
}

.main-footer__copyright {
  padding-top: 21px;
  border-top: 1px solid $border-gray;
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding: 58px 0 55px;
    background-color: $basic-gray;
  }

  .main-footer__wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .copyright__text{
    margin-right: 22px;
  }

  .main-footer__link {
    padding: 0;
    border: none;
  }

  .main-footer__copyright {
    padding: 0;
    border: none;
  }
}
