.social-list {
  display: flex;
  gap: 24px;
  list-style-type: none;
  margin: 0 auto;
  padding: 19px 2px 19px 0;
  align-items: center;
}

.social-list__item {
  width: 28px;
  text-align: center;
}

.social-list__link {
  display: block;
  line-height: 0;
  padding: 2px;
  fill: $special-gray-4;

  &:hover {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-list__icon:hover {
  fill: $basic-green;
}

@media (min-width: $tablet-width) {
  .social-list {
    padding: 0;
  }
}
